body {
  font-family: Arial;
  text-align: center;
  background: #f3f3f3;
  color: #222;
}
button {
  background: #222;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
a {
  color: #007bff;
  text-decoration: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px;

}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #ffcc00;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-top: 10px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: #ffcc00;
}

/* 🔍 SEARCH */
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
}

.search-bar button {
  background: #ffcc00;
  border: none;
  margin-left: 5px;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}
